<div class="p-5 border rounded-lg shadow-lg">
  <h3 class="text-2xl font-bold leading-none mb-8 text-center">{{ card.title }}</h3>
  {%- if card.image -%}
    <img src="{{ card.image }}" class="mx-auto mb-6" />
  {%- endif -%}
  <p>{{ card.excerpt }}</p>
</div>