---
layout: layouts/base
---
<div class="py-8 px-4 mx-auto sm:max-w-xl md:max-w-full lg:py-12 lg:max-w-screen-xl">
  <h1 class="text-4xl font-extrabold text-center mb-8">{{ title }}</h1>
  <figure>
    <img src="{{ featured_image_url }}" class="w-full max-w-screen-sm mx-auto md:w-auto lg:max-w-screen-xl" />
  </figure>
</div>
{%- for current_section in sections -%}
  {%- capture section_type -%}components/{{ current_section.type }}.liquid{%- endcapture -%}
  {%- include section_type section:current_section -%}
{%- endfor -%}